@font-face {
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Regular.ttf')
 }
@font-face {
	font-family: Roboto;
	font-weight: bold;
	src: url('../fonts/roboto/Roboto-Bold.ttf')
 }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font: inherit;
    font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0
}
::-webkit-scrollbar {
    width: 15px
}
::-webkit-scrollbar-track {
    background-color: #eee
}
::-webkit-scrollbar-thumb {
    background-color: #bdbdbd
}
body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    min-height: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none
}
span {
    display: block;
}
#wrapper {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    display: block;
    background-color: #607D8B
}
a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    text-decoration: none
}
button {
    background-color: #eee;
    font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border: none;
    outline: 0
}
#add-card-button {
    width: 60px;
    height: 60px;
    margin: 4px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #0D47A1;
    color: #fff;
    font-size: 22px;
    /*background-image: url('../icons/ic_add_to_photos_black_48dp.png');*/
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 17;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#add-card-button:hover {
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#add-card-button:active {
    background-color: #1565C0;
}
#add-card-wrapper {
    width: 80px;
    height: 80px;
    margin: 50px;
    z-index: 16;
    float:left;
}
.exit-button {
	float: left;
	width: 50px;
	color: #fff;
	font-size: 12px;
	background-color: #F44336;
}
#time-wrapper {
    position: fixed;
    width: 100%;
    height: 68px;
    background-color: #0D47A1;
    text-align: center;
    z-index: 100;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#time {
	display: block;
   	margin: 7px;
	font-size: 40px;
	color: #fff;
}
#schedule {
    position: relative;
    height: 100%;
    width: 67%;
    float: left;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
#sidebar-wrapper {
    margin-top: 68px;
    float: left;
    height: 100vh;
    width: 30%;
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 99;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #eee;
}
#sidebar {
    height: 100vh;
    overflow: hidden;
    background-color: #eee;
    position: fixed;
    width: inherit;
}
#content-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 68px;
    margin-left: 30%;
}
#content {
    height: calc(100vh - 68px);
    font-size: 20px;
    text-align: left;   
}
#card-dialog {
	margin: 10% 25% ;
	max-height: 500px;
	height: 50%;
	width: 50%;
	text-align: center;
	background-color: #eee;
	display: none; 
	z-index: 10000;
	position: absolute;
	-webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#mini-card-wrapper {
	margin-top: 50px;
	margin-left: 50px;
}
.mini-card {
	width: 100px;
	height: 100px;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.mini-card:hover {
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.mini-card:active {
	background-color: #bdbdbd;
}
.card {
	float: left;
	margin: 15px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.card:hover {
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.nagios-wrapper {
	width: 500px;
	height: 750px;
	background-color: #eee;
}
.nagios {
	height: calc(100% - 25px);
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
}
#monitor {
	width: 100%;
	height: inherit;
	position: relative;
	overflow: hidden;
}